@inherits LayoutComponentBase
@inject CookieThemeService CookieThemeService
@inject ThemeService ThemeService
@inject RadzenTheme RadzenTheme
@inject IJSRuntime JSRuntime

<RadzenTooltip />
<RadzenChartTooltip />
<RadzenTheme Theme="@NewTheme" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <a href="https://sessy.nl" target="_blank">
                <RadzenImage Path="/Images/sessy.svg" />
            </a>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home"
                                 Click="@CollapseMenu"
                                 Path="" Icon="home" />
            <RadzenPanelMenuItem Text="Charging hours"
                                 Path="charginghours"
                                 Click="@CollapseMenu"
                                 Icon="account_box" />
            <RadzenPanelMenuItem Text="Sessy status history"
                                 Path="sessystatushistory"
                                 Click="@CollapseMenu"
                                 Icon="account_box" />
            <RadzenPanel>
                <RadzenRow>
                    <RadzenLabel Text="Choose theme:" />
                    <RadzenDropDown Style="width: 100%;"
                                    Name="ThemeDropDown"
                                    TValue="string"
                                    Value="@ThemeService.Theme"
                                    ValueChanged="@ChangeTheme"
                                    Data="@Themes.Free"
                                    TextProperty=@nameof(Theme.Text)
                                    ValueProperty=@nameof(Theme.Value) />
                </RadzenRow>
            </RadzenPanel>

        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>

    </RadzenFooter>
</RadzenLayout>

