@inherits LayoutComponentBase
@inject CookieThemeService CookieThemeService
@inject ThemeService ThemeService
@inject RadzenTheme RadzenTheme
@inject IJSRuntime JSRuntime

<RadzenTooltip />
<RadzenChartTooltip />
<RadzenTheme Theme="@NewTheme" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@ToggleDisplayStyle" />

            <a href="https://sessy.nl" target="_blank">
                <RadzenImage Path="/Images/sessy.svg" />
            </a>

            <RadzenPanel>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenLabel Text="Choose theme:" />
                    <RadzenDropDown Style="width: 100%;"
                                    Name="ThemeDropDown"
                                    TValue="string"
                                    Value="@ThemeService.Theme"
                                    ValueChanged="@ChangeTheme"
                                    Data="@Themes.Free"
                                    TextProperty=@nameof(Theme.Text)
                                    ValueProperty=@nameof(Theme.Value) />
                </RadzenStack>
            </RadzenPanel>
        </RadzenStack>
    </RadzenHeader>
    <RadzenPanelMenu DisplayStyle="@DisplayStyle">
        <RadzenPanelMenuItem Text="Batteries"
                             Click="@CollapseMenu"
                             Path="" Icon="battery_charging_full" />
        <RadzenPanelMenuItem Text="Charging hours"
                             Path="charginghours"
                             Click="@CollapseMenu"
                             Icon="grouped_bar_chart" />
        <RadzenPanelMenuItem Text="Sessy status history"
                             Path="sessystatushistory"
                             Click="@CollapseMenu"
                             Icon="error" />
        <RadzenPanelMenuItem Text="Sessy energy history"
                             Path="energyhistory"
                             Click="@CollapseMenu"
                             Icon="history" />

    </RadzenPanelMenu>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>

    </RadzenFooter>
</RadzenLayout>

