@inherits LayoutComponentBase
@inject CookieThemeService CookieThemeService
@inject ThemeService ThemeService
@inject RadzenTheme RadzenTheme
@inject IJSRuntime JSRuntime

<RadzenTooltip />
<RadzenChartTooltip />
<RadzenTheme Theme="@NewTheme" />

<RadzenLayout>
	<RadzenHeader>
		<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
			<RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
			<RadzenImage Path="..\SessyWeb\images\sessy.svg" />
		</RadzenStack>
	</RadzenHeader>
	<RadzenSidebar @bind-Expanded="@sidebar1Expanded">
		<RadzenPanelMenu>
			<RadzenPanelMenuItem 
			Text="Home"
			Path="" Icon="home" />
			<RadzenPanelMenuItem 
			Text="Charging hours"
			Path="charginghours"
			Icon="account_box" />
			<RadzenDropDown
			Style="width: 100%;"
			Name="ThemeDropDown"
			TValue="string"
			Value="@ThemeService.Theme"
			ValueChanged="@ChangeTheme"
			Data="@Themes.Free"
			TextProperty=@nameof(Theme.Text)
			ValueProperty=@nameof(Theme.Value) />

		</RadzenPanelMenu>
	</RadzenSidebar>
	<RadzenBody>
		<div class="rz-p-4">
			@Body
		</div>
	</RadzenBody>
	<RadzenFooter>

	</RadzenFooter>
</RadzenLayout>

