@page "/charginghours"
@inherits PageBase
@using System
@using Radzen
@using Radzen.Blazor
@using SessyWeb.Components

@inject TooltipService tooltipService

@using SessyController.Services.Items

@if (HourlyInfos != null && HourlyInfos.Count() != 0)
{
    <div style="width: 100%; overflow: auto;">
        <RadzenCard Style="padding: 3px 3px 20px 30px;">
            <RadzenStack Orientation="Orientation.Vertical" Gap="2" AlignItems="AlignItems.Start">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Total expected solar power</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@TotalSolarPowerExpectedVisual kWh</b></RadzenText>
            </RadzenStack>
        </RadzenCard>
        <RadzenChart Style=@GraphStyle>
            <RadzenLegend Position="LegendPosition.Top" Visible="true" />
            <RadzenChartTooltipOptions Shared="false" Visible="true" />
            <RadzenColumnSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Price" LineType="LineType.Dashed" ValueProperty="Price">
                <TooltipTemplate Context="data">
                    <ChargingHoursTooltip HourlyInfo=@data />
                </TooltipTemplate>
                <ChildContent>
                    <RadzenMarkers Visible="false" />
                    <RadzenSeriesDataLabels Visible="true" />
                </ChildContent>
            </RadzenColumnSeries>
            <RadzenLineSeries Data="@HourlyInfos" Smooth="true" CategoryProperty="Time" Title="Smoothed price" LineType="LineType.Dotted" ValueProperty="SmoothedPrice">
                <TooltipTemplate Context="data">
                    <ChargingHoursTooltip HourlyInfo=@data />
                </TooltipTemplate>
                <ChildContent>
                    <RadzenMarkers Visible="false" />
                    <RadzenSeriesDataLabels Visible="false" />
                </ChildContent>
            </RadzenLineSeries>
            <RadzenLineSeries Data="@HourlyInfos" Smooth="true" CategoryProperty="Time" Title="Charging" ValueProperty="VisualizeInChart">
                <TooltipTemplate Context="data">
                    <ChargingHoursTooltip HourlyInfo=@data />
                </TooltipTemplate>
                <ChildContent>
                    <RadzenMarkers Visible="false" />
                    <RadzenSeriesDataLabels Visible="false" />
                </ChildContent>
            </RadzenLineSeries>
            <RadzenColumnSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Profit" ValueProperty="ProfitVisual">
                <TooltipTemplate Context="data">
                    <ChargingHoursTooltip HourlyInfo=@data />
                </TooltipTemplate>
                <ChildContent>
                    <RadzenMarkers Visible="false" />
                    <RadzenSeriesDataLabels Visible="false" />
                </ChildContent>
            </RadzenColumnSeries>
            <RadzenLineSeries Data="@HourlyInfos" Smooth="true" CategoryProperty="Time" Title="Charge remaining" ValueProperty="ChargeLeftVisual">
                <TooltipTemplate Context="data">
                    <ChargingHoursTooltip HourlyInfo=@data />
                </TooltipTemplate>
                <ChildContent>
                    <RadzenMarkers Visible="false" />
                    <RadzenSeriesDataLabels Visible="false" />
                </ChildContent>
            </RadzenLineSeries>
            <RadzenLineSeries Data="@HourlyInfos" Smooth="true" CategoryProperty="Time" Title="Solar power" LineType="LineType.Dashed" ValueProperty="SolarPowerVisual">
                <TooltipTemplate Context="data">
                    <ChargingHoursTooltip HourlyInfo=@data />
                </TooltipTemplate>
                <ChildContent>
                    <RadzenMarkers Visible="false" />
                    <RadzenSeriesDataLabels Visible="false" />
                </ChildContent>
            </RadzenLineSeries>
            <RadzenCategoryAxis Padding="40" Formatter="@FormatAsDayHour">
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Time" />
            </RadzenCategoryAxis>
            <RadzenValueAxis Formatter="@FormatAsPrice">
                <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Price" />
            </RadzenValueAxis>
            <RadzenBarOptions Radius="5" />
        </RadzenChart>
    </div>
}
else
{
    <div>
        No prices yet, just a moment .....
    </div>
}


