@page "/charginghours"
@inherits PageBase
@using System
@using Radzen
@using Radzen.Blazor
@using SessyWeb.Components

@inject TooltipService tooltipService

@using SessyController.Services.Items

@if (HourlyInfos != null && HourlyInfos.Count() != 0)
{
	<div style="width: 100%; height:100%;">
		<RadzenChart Style="min-height: 5000px; min-width: 600px;">
			<RadzenChartTooltipOptions Shared="false" Visible="true" />
			<RadzenBarSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Price" LineType="LineType.Dashed" ValueProperty="Price">
				<TooltipTemplate Context="data">
					<RadzenCard>
						<div>
							Date: @data?.Time	
						</div>
						<div>
							Price: @data?.Price
						</div>
						<div>
							State @data?.DisplayState;
						</div>
						<div>
							Profit: @data?.Profit
						</div>
						<div>
							Charge left: @data?.ChargeLeft
						</div>
						<div>
							Solar power: @data?.SolarPower
						</div>
						<div>
							Global radiation: @data?.SolarGlobalRadiation
						</div>
					</RadzenCard>
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="true" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenBarSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Charging" ValueProperty="VisualizeInChart" >
				<TooltipTemplate Context="data">
					<RadzenCard>
						<div>
							Date: @data?.Time
						</div>
						<div>
							Price: @data?.Price
						</div>
						<div>
							State @data?.DisplayState;
						</div>
						<div>
							Profit: @data?.Profit
						</div>
						<div>
							Charge left: @data?.ChargeLeft
						</div>
						<div>
							Solar power: @data?.SolarPower
						</div>
						<div>
							Global radiation: @data?.SolarGlobalRadiation
						</div>
					</RadzenCard>
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="false" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenBarSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Profit" ValueProperty="ProfitVisual">
				<TooltipTemplate Context="data">
					<RadzenCard>
						<div>
							Date: @data?.Time
						</div>
						<div>
							Price: @data?.Price
						</div>
						<div>
							State @data?.DisplayState;
						</div>
						<div>
							Profit: @data?.Profit
						</div>
						<div>
							Charge left: @data?.ChargeLeft
						</div>
						<div>
							Solar power: @data?.SolarPower
						</div>
						<div>
							Global radiation: @data?.SolarGlobalRadiation
						</div>
					</RadzenCard>
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="false" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenBarSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Charge" ValueProperty="ChargeLeftVisual">
				<TooltipTemplate Context="data">
					<RadzenCard>
						<div>
							Date: @data?.Time
						</div>
						<div>
							Price: @data?.Price
						</div>
						<div>
							State @data?.DisplayState;
						</div>
						<div>
							Profit: @data?.Profit
						</div>
						<div>
							Charge left: @data?.ChargeLeft
						</div>
						<div>
							Solar power: @data?.SolarPower
						</div>
						<div>
							Global radiation: @data?.SolarGlobalRadiation
						</div>
					</RadzenCard>
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="false" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenBarSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Solar power" ValueProperty="SolarPowerVisual">
				<TooltipTemplate Context="data">
					<RadzenCard>
						<div>
							Date: @data?.Time
						</div>
						<div>
							Price: @data?.Price
						</div>
						<div>
							State @data?.DisplayState;
						</div>
						<div>
							Profit: @data?.Profit
						</div>
						<div>
							Charge left: @data?.ChargeLeft
						</div>
						<div>
							Solar power: @data?.SolarPower
						</div>
						<div>
							Global radiation: @data?.SolarGlobalRadiation
						</div>
					</RadzenCard>
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="false" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenCategoryAxis Padding="20" Formatter="@FormatAsDayHour">
				<RadzenGridLines Visible="true" />
				<RadzenAxisTitle Text="Time" />
			</RadzenCategoryAxis>
			<RadzenValueAxis Formatter="@FormatAsPrice">
				<RadzenGridLines Visible="true" />
				<RadzenAxisTitle Text="Price" />
			</RadzenValueAxis>
			<RadzenBarOptions Radius="5" />
		</RadzenChart>
	</div>
}
else
{
	<div>
		No prices yet, just a moment .....
	</div>
}


