@page "/charginghours"
@inherits PageBase
@using System
@using Radzen
@using Radzen.Blazor
@using SessyWeb.Components

@inject TooltipService tooltipService

@using SessyController.Services.Items

@if (HourlyInfos != null && HourlyInfos.Count() != 0)
{
	<div style="width: 100%; height:100%; min-width: 250px;">
		<div>Total expected solarpower: </div>
		<div>@TotalSolarPowerExpected</div>
		<RadzenChart Style=@GraphStyle>
			<RadzenChartTooltipOptions Shared="false" Visible="true" />
			<RadzenBarSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Price" LineType="LineType.Dashed" ValueProperty="Price" >
				<TooltipTemplate Context="data">
					<ChargingHoursTooltip HourlyInfo=@data />
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="true" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenBarSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Charging" ValueProperty="VisualizeInChart" >
				<TooltipTemplate Context="data">
					<ChargingHoursTooltip HourlyInfo=@data />
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="false" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenBarSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Profit" ValueProperty="ProfitVisual" >
				<TooltipTemplate Context="data">
					<ChargingHoursTooltip HourlyInfo=@data />
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="false" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenBarSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Charge remaining" ValueProperty="ChargeLeftVisual" >
				<TooltipTemplate Context="data">
					<ChargingHoursTooltip HourlyInfo=@data />
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="false" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenBarSeries Data="@HourlyInfos" CategoryProperty="Time" Title="Solar power" ValueProperty="SolarPowerVisual" >
				<TooltipTemplate Context="data">
					<ChargingHoursTooltip HourlyInfo=@data />
				</TooltipTemplate>
				<ChildContent>
					<RadzenMarkers Visible="false" />
					<RadzenSeriesDataLabels Visible="false" />
				</ChildContent>
			</RadzenBarSeries>
			<RadzenCategoryAxis Padding="20" Formatter="@FormatAsDayHour">
				<RadzenGridLines Visible="true" />
				<RadzenAxisTitle Text="Time" />
			</RadzenCategoryAxis>
			<RadzenValueAxis Formatter="@FormatAsPrice">
				<RadzenGridLines Visible="true" />
				<RadzenAxisTitle Text="Price" />
			</RadzenValueAxis>
			<RadzenBarOptions Radius="5" />
		</RadzenChart>
	</div>
}
else
{
	<div>
		No prices yet, just a moment .....
	</div>
}


