@page "/financialResults"
@inherits PageBase
@using SessyController.Services.Items
@using SessyWeb.Components
@using SessyData.Model
@using Radzen
@using static SessyWeb.Components.DateChooserComponent

<a>Financial results</a>

<RadzenDataGrid @ref=financialResultsGrid
                Data="@FinancialMonthResultsList"
                Context="monthData"
                Render="@OnRender"
                LoadData="@LoadData"
                Responsive="true"
                PageSize="1"
                ShowPagingSummary="true"
                GroupFootersAlwaysVisible="true"
                AllGroupsExpanded="true">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(FinancialMonthResult.YearMonth)" Title="YearMonth" Width="100px" Visible=false />
        <RadzenDataGridColumn TItem="FinancialMonthResult" Title="Day" Context="MonthResult">
            <HeaderTemplate>
                <DateChooserComponent DateChosenChanged="@((DateTime d) => DateChosenChanged(d))"
                                      PeriodChosenChanged="@((PeriodsEnums p) => PeriodChosenChanged(p))" />
            </HeaderTemplate>
            <Template>
                <FinancialDayResultComponent FinancialResultsList="@MonthResult.FinancialResultsList" />
            </Template>
            <GroupFooterTemplate>
                <b> @String.Format(GetFormatProvider(), "Total cost: {0:C}", GetMonthlyTotalCost(@MonthResult.Data.Items.AsQueryable().FirstOrDefault()))</b>
            </GroupFooterTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>