@page "/financialResults"
@inherits PageBase
@using SessyController.Services.Items
@using SessyData.Model
@using Radzen

<a>Financial results</a>

<RadzenDataGrid @ref="financialResultsGrid" 
    Data="@FinancialResultsList"
    Context="data"
    Count="@count"
    LoadData="@LoadData"
    AllowSorting="true"
    AllowFiltering="true"
    AllowPaging="true"
    AllowGrouping="false"
    PageSize="35"
    ShowPagingSummary="true"
    GroupFootersAlwaysVisible="true"
    Render="@OnRender"
    Density="Density.Compact"
    PagerHorizontalAlign="HorizontalAlign.Center">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(FinancialResult.YearMonth)" Title="Time">
            <GroupFooterTemplate>
                Total cost: <b> @String.Format(new System.Globalization.CultureInfo("nl-NL"), "{0:C}", GetMonthlyTotalCost(context.Data.Items.Cast<FinancialResult>()))</b>
            </GroupFooterTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(FinancialResult.Time)" Title="Time" />
@*         <RadzenDataGridColumn Property="@nameof(FinancialResult.Month)" Title="Month" />
        <RadzenDataGridColumn Property="@nameof(FinancialResult.Day)" Title="Day" />
        <RadzenDataGridColumn Property="@nameof(FinancialResult.Hour)" Title="Hour" />
 *@        <RadzenDataGridColumn Property="@nameof(FinancialResult.Consumed)" Title="Consumed" />
        <RadzenDataGridColumn Property="@nameof(FinancialResult.Produced)" Title="Produced" />
        <RadzenDataGridColumn Property="@nameof(FinancialResult.Price)" Title="Price" />
        <RadzenDataGridColumn Property="@nameof(FinancialResult.Cost)" Title="Cost" />
        <RadzenDataGridColumn Property="@nameof(FinancialResult.Cost)" Title="Revenue" />
    </Columns>
</RadzenDataGrid>