@page "/control"
@inherits PageBase

@using SessyData.Model
@using Radzen

<a>Who's in control</a>

<RadzenDataGrid @ref="sessyWebControlGrid"
                Data="@SessyWebControlList"
                Context="data"
                Count="@count"
                LoadData="@LoadData"
                Responsive="true"
                AllowSorting="true"
                AllowFiltering="true"
                AllowPaging="true"
                PageSize="20"
                Density="Density.Compact"
                PagerHorizontalAlign="HorizontalAlign.Center">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(SessyWebControl.Time)" Title="Time" SortOrder="SortOrder.Ascending" />
        <RadzenDataGridColumn Property="@nameof(SessyWebControl.Status)" Title="Status" />
    </Columns>
</RadzenDataGrid>