@page "/sessystatushistory"
@inherits PageBase
@using SessyData.Model
@using Radzen

<a>History</a>

<RadzenDataGrid @ref="historyGrid" 
    Data="@StatusHistoryList"
    Context="data"
    Count="@count"
    LoadData="@LoadData"
    AllowSorting="true"
    AllowFiltering="true"
    AllowPaging="true"
    Responsive="true"
    PageSize="20"
    PagerHorizontalAlign="HorizontalAlign.Center">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(GroupedSessyStatus.Name)" Title="Name" SortOrder="SortOrder.Ascending" />
        <RadzenDataGridColumn Property="@nameof(GroupedSessyStatus.StartTime)" Title="Start time" SortOrder="SortOrder.Descending" />
        <RadzenDataGridColumn Property="@nameof(GroupedSessyStatus.EndTime)" Title="End time" />
        <RadzenDataGridColumn Property="@nameof(GroupedSessyStatus.DurationVisual)" Title="Duration" />
        <RadzenDataGridColumn Property="@nameof(GroupedSessyStatus.Status)" Title="Status" />
        <RadzenDataGridColumn Property="@nameof(GroupedSessyStatus.StatusDetails)" Title="Details" />
    </Columns>
</RadzenDataGrid>