@page "/solarpower"
@inherits PageBase
@using SessyController.Services.Items
@using SessyWeb.Components
@using SessyData.Model
@using Radzen
@using SessyWeb.Helpers
@using static SessyWeb.Components.DateChooserComponent

@code {
    bool ShowDataLabels = true;
    bool ShowMarkers = true;
}

<RadzenLayout Style="height: 80vh;">
    <RadzenHeader Style="height: 100%;margin: 0px; padding: 0px;">
        <RadzenStack Orientation=Orientation.Horizontal AlignItems="AlignItems.Center" Style="height:100%;margin: 0px; padding: 0px;">
            @* TickDistance: <p>@TickDistance</p> *@

            <RadzenLabel Text="Solar power" Component="RadzenDropDownBindValue" class="h4 m-2" />

            <DateChooserComponent SelectionChanged="@((DateArgs d) => DateSelectionChanged(d))" />

            <RadzenLabel Text="Select provider" Component="RadzenDropDownBindValue" />

            <RadzenDropDown TValue="string"
                            @bind-Value="SelectedProvider"
                            Data="@ProviderNames"
                            Placeholder="Select provider"
                            Change=@ProviderChanged
                            Style="width: 200px;" />


            <RadzenLabel Text="Show labels" Component="ShowDataLabels" />
            <RadzenCheckBox @bind-Value="@ShowDataLabels" Name="ShowDataLabels" />

            <RadzenLabel Text="Show markers" Component="ShowMarkers" />
            <RadzenCheckBox @bind-Value="@ShowMarkers" Name="ShowMarkers" />
        </RadzenStack>
    </RadzenHeader>

    <RadzenBody>
        @if (DateSelectionChosen!.PeriodChosen == PeriodsEnums.Day)
        {
            <RadzenCard>
                <RadzenChart Style="@GraphStyle" @ref=SolarPowerChart>
                    <RadzenLegend Position="LegendPosition.Top" Visible="true" />
                    @foreach (var provider in SolarDayData)
                    {
                        if (SelectedProvider == "All" || SelectedProvider == provider.Key)
                        {
                            <RadzenAreaSeries Data="@provider.Value"
                                                Title="@provider.Key"
                                                CategoryProperty="Key"
                                                ValueProperty="Value"
                                                Smooth="true">
                                <ChildContent>
                                    <RadzenMarkers Visible="@ShowMarkers" MarkerType="MarkerType.Circle" />
                                    <RadzenSeriesDataLabels Visible="@ShowDataLabels" />
                                </ChildContent>
                            </RadzenAreaSeries>
                        }
                    }

                    <RadzenValueAxis Formatter="@Formatters.FormatAsRoundedNumberWithZeroSuppression">

                    </RadzenValueAxis>

                    <RadzenCategoryAxis Formatter=@Formatter TickDistance=@TickDistance>
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Time" />
                    </RadzenCategoryAxis>

                </RadzenChart>
            </RadzenCard>
        }
        else if (DateSelectionChosen!.PeriodChosen == PeriodsEnums.Week)
        {
            <RadzenCard>
                <RadzenChart Style="@GraphStyle" @ref=SolarPowerChart>
                    <RadzenLegend Position="LegendPosition.Top" Visible="true" />
                    @foreach (var provider in SolarWeekData)
                    {
                        if (SelectedProvider == "All" || SelectedProvider == provider.Key)
                        {
                            <RadzenColumnSeries Data="@provider.Value"
                                              Title="@provider.Key"
                                              CategoryProperty="Key"
                                              ValueProperty="Value">
                                <ChildContent>
                                    <RadzenMarkers Visible="@ShowMarkers" MarkerType="MarkerType.Circle" />
                                    <RadzenSeriesDataLabels Visible="@ShowDataLabels" />
                                </ChildContent>
                            </RadzenColumnSeries>
                        }
                    }

                    <RadzenValueAxis Formatter="@Formatters.FormatAsRoundedNumberWithZeroSuppression">

                    </RadzenValueAxis>

                    <RadzenCategoryAxis Formatter=@Formatter TickDistance=@TickDistance>
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Time" />
                    </RadzenCategoryAxis>

                </RadzenChart>
            </RadzenCard>
        }
        else if (DateSelectionChosen!.PeriodChosen == PeriodsEnums.Month)
        {
            <RadzenCard>
                <RadzenChart Style="@GraphStyle" @ref=SolarPowerChart>
                    <RadzenLegend Position="LegendPosition.Top" Visible="true" />
                    @foreach (var provider in SolarMonthData)
                    {
                        if (SelectedProvider == "All" || SelectedProvider == provider.Key)
                        {
                            <RadzenColumnSeries Data="@provider.Value"
                                                Title="@provider.Key"
                                                CategoryProperty="Key"
                                                ValueProperty="Value">
                                <ChildContent>
                                    <RadzenMarkers Visible="@ShowMarkers" MarkerType="MarkerType.Circle" />
                                    <RadzenSeriesDataLabels Visible="@ShowDataLabels" />
                                </ChildContent>
                            </RadzenColumnSeries>
                        }
                    }

                    <RadzenValueAxis Formatter="@Formatters.FormatAsRoundedNumberWithZeroSuppression">

                    </RadzenValueAxis>

                    <RadzenCategoryAxis Formatter=@Formatter TickDistance=@TickDistance>
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Time" />
                    </RadzenCategoryAxis>

                </RadzenChart>
            </RadzenCard>
        }
        else if (DateSelectionChosen!.PeriodChosen == PeriodsEnums.Year)
        {
            <RadzenCard>
                <RadzenChart Style="@GraphStyle" @ref=SolarPowerChart>
                    <RadzenLegend Position="LegendPosition.Top" Visible="true" />
                    @foreach (var provider in SolarYearData)
                    {
                        if (SelectedProvider == "All" || SelectedProvider == provider.Key)
                        {
                            <RadzenColumnSeries Data="@provider.Value"
                                                Title="@provider.Key"
                                                CategoryProperty="Key"
                                                ValueProperty="Value">
                                <ChildContent>
                                    <RadzenMarkers Visible="@ShowMarkers" MarkerType="MarkerType.Circle" />
                                    <RadzenSeriesDataLabels Visible="@ShowDataLabels" />
                                </ChildContent>
                            </RadzenColumnSeries>
                        }
                    }

                    <RadzenValueAxis Formatter="@Formatters.FormatAsRoundedNumberWithZeroSuppression">

                    </RadzenValueAxis>

                    <RadzenCategoryAxis Formatter=@Formatter TickDistance=@TickDistance>
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Time" />
                    </RadzenCategoryAxis>

                </RadzenChart>
            </RadzenCard>
        }
        else if(DateSelectionChosen!.PeriodChosen == PeriodsEnums.All)
        {
            <RadzenCard>
                <RadzenChart Style="@GraphStyle" @ref=SolarPowerChart>
                    <RadzenLegend Position="LegendPosition.Top" Visible="true" />
                    @foreach (var provider in SolarAllData)
                    {
                        if (SelectedProvider == "All" || SelectedProvider == provider.Key)
                        {
                            <RadzenColumnSeries Data="@provider.Value"
                                                Title="@provider.Key"
                                                CategoryProperty="Key"
                                                ValueProperty="Value">
                                <ChildContent>
                                    <RadzenMarkers Visible="@ShowMarkers" MarkerType="MarkerType.Circle" />
                                    <RadzenSeriesDataLabels Visible="@ShowDataLabels" />
                                </ChildContent>
                            </RadzenColumnSeries>
                        }
                    }

                    <RadzenValueAxis Formatter="@Formatters.FormatAsRoundedNumberWithZeroSuppression">

                    </RadzenValueAxis>

                    <RadzenCategoryAxis Formatter=@Formatter TickDistance=@TickDistance>
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Time" />
                    </RadzenCategoryAxis>

                </RadzenChart>
            </RadzenCard>
        }
    </RadzenBody>

    <RadzenFooter>
        <b>@String.Format(GetFormatProvider(), "Total solar power: {0:N2} kWh", SolarPower)</b>
    </RadzenFooter>
</RadzenLayout>

