@page "/taxes"
@inherits PageBase
@using SessyData.Model
@using Radzen

<a>Taxes</a>

<RadzenDataGrid @ref="taxesGrid"
                Data="@TaxesList"
                TItem="Taxes"
                Count="@count"
                LoadData="@LoadData"
                IsLoading="@isLoading"
                RowUpdate="@OnUpdateRow"
                RowCreate="@OnCreateRow"
                Responsive="true"
                AllowSorting="true"
                AllowFiltering="true"
                AllowPaging="true"
                PageSize="20"
                Density="Density.Compact"
                PagerHorizontalAlign="HorizontalAlign.Left">
    <HeaderTemplate>
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Add taxes" Click="@InsertRow" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn Property="@nameof(Taxes.Time)" Title="Time" SortOrder="SortOrder.Ascending">
            <EditTemplate Context="fr">
                <RadzenDatePicker @bind-Value="fr.Time" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(Taxes.EnergyTax)" Title="Energy tax">
            <EditTemplate Context="fr">
                <RadzenNumeric @bind-Value="fr.EnergyTax" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(Taxes.ValueAddedTax)" Title="Value added tax">
            <EditTemplate Context="fr">
                <RadzenNumeric @bind-Value="fr.ValueAddedTax" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(Taxes.TaxReduction)" Title="Tax reduction">
            <EditTemplate Context="fr">
                <RadzenNumeric @bind-Value="fr.TaxReduction" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(Taxes.PurchaseCompensation)" Title="Purchase compensation">
            <EditTemplate Context="fr">
                <RadzenNumeric @bind-Value="fr.PurchaseCompensation" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(Taxes.ReturnDeliveryCompensation)" Title="Return delivery compensation">
            <EditTemplate Context="fr">
                <RadzenNumeric @bind-Value="fr.ReturnDeliveryCompensation" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(Taxes.NetManagementCost)" Title="Net management cost">
            <EditTemplate Context="fr">
                <RadzenNumeric @bind-Value="fr.NetManagementCost" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(Taxes.FixedTransportFee)" Title="Fixed transport fee">
            <EditTemplate Context="fr">
                <RadzenNumeric @bind-Value="fr.FixedTransportFee" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(Taxes.CapacityTransportFee)" Title="Capacity transport fee">
            <EditTemplate Context="fr">
                <RadzenNumeric @bind-Value="fr.CapacityTransportFee" Style="width:100%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(Taxes.Netting)" Title="Netting">
            <EditTemplate Context="fr">
                <RadzenCheckBox @bind-Value="fr.Netting" Style="width:10%" />
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
            <Template Context="fr">
                <RadzenButton Icon="add_circle"
                              ButtonStyle="ButtonStyle.Success"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Small"
                              Shade="Shade.Lighter"
                              Click="@(() => InsertAfterRow(fr))"
                              title="Add new row after this row" />
                <RadzenButton Icon="edit"
                              ButtonStyle="ButtonStyle.Light"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Small"
                              class="rz-my-1 rz-ms-1"
                              Click="@(args => EditRow(fr))"
                              @onclick:stopPropagation="true" />
                <RadzenButton Icon="delete"
                              ButtonStyle="ButtonStyle.Danger"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Small"
                              Shade="Shade.Lighter"
                              class="rz-my-1 rz-ms-1"
                              Click="@(args => DeleteRow(fr))"
                              @onclick:stopPropagation="true" />
            </Template>
            <EditTemplate Context="fr">
                <RadzenButton Icon="check"
                              ButtonStyle="ButtonStyle.Success"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Small"
                              Click="@((args) => SaveRow(fr))" aria-label="Save" />
                <RadzenButton Icon="close"
                              ButtonStyle="ButtonStyle.Light"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Small"
                              class="rz-my-1 rz-ms-1"
                              Click="@((args) => CancelEdit(fr))" aria-label="Cancel" />
                <RadzenButton Icon="delete"
                              ButtonStyle="ButtonStyle.Danger"
                              Variant="Variant.Flat"
                              Size="ButtonSize.Small"
                              Shade="Shade.Lighter"
                              class="rz-my-1 rz-ms-1"
                              Click="@(args => DeleteRow(fr))" aria-label="Delete" />
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>