@using SessyWeb.Helpers
@using SessyWeb.Pages
@using System.Globalization

@inherits BaseComponent
<div style="width: 100%; overflow: auto;">
    <RadzenChart Style=@GraphStyle @ref=@QuarterlyHourChart>
        <RadzenLegend Position="@((ScreenInfo?.IsMobile ?? false) ? LegendPosition.Right : LegendPosition.Top)" Visible="true" />
        <RadzenChartTooltipOptions Shared="false" Visible="true" />
        <RadzenAreaSeries Data="@QuarterlyInfos" Smooth="true" CategoryProperty="Time" Fill="#708090" Stroke="#708090" Title="Charging mode" ValueProperty="VisualizeInChart">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                @{
                    if(QuarterlyInfos != null)
                        foreach (var item in QuarterlyInfos.Where(qi => qi.SessionId != null))
                        {
                            <RadzenSeriesAnnotation 
                                Visible="true"
                                TItem="QuarterlyInfoView"
                                Data="@item"
                                OffsetX=@(item.VisualizeInChart > 0 ? 8 : 0)
                                OffsetY=@(item.VisualizeInChart > 0 ? -16 : 16)
                                Text="@item.SessionId.ToString()"
                                Fill="#708090" />
                        }
                }
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
        </RadzenAreaSeries>
        <RadzenColumnSeries Data="@QuarterlyInfos" CategoryProperty="Time" Title="Buying price" Fill="#324ab2" Stroke="#324ab2" LineType="LineType.Dashed" ValueProperty="BuyingPrice">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="true" />
            </ChildContent>
        </RadzenColumnSeries>
        @*<RadzenLineSeries Data="@QuarterlyInfos" Smooth="true" CategoryProperty="Time" Stroke="red" Title="Average buying price" LineType="LineType.Solid" ValueProperty="AverageBuyingPrice">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
        </RadzenLineSeries>*@
        <RadzenColumnSeries Data="@QuarterlyInfos" CategoryProperty="Time" Title="Selling price" Fill="#00aae4" Stroke="#00aae4" LineType="LineType.Dashed" ValueProperty="SellingPrice"
                            Context="data">
            <TooltipTemplate>
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="@ShowSellingPriceLabels" />
            </ChildContent>
        </RadzenColumnSeries>
        @*<RadzenLineSeries Data="@QuarterlyInfos" Smooth="true" CategoryProperty="Time" Stroke="orange" Title="Average selling price" LineType="LineType.Solid" ValueProperty="AverageSellingPrice">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
        </RadzenLineSeries>*@
        @*<RadzenColumnSeries Data="@QuarterlyInfos" CategoryProperty="Time" Title="Market price" LineType="LineType.Dashed" ValueProperty="MarketPrice">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip HourlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="true" />
            </ChildContent>
        </RadzenColumnSeries>*@
        <RadzenColumnSeries Data="@QuarterlyInfos" CategoryProperty="Time" Stroke="green" Fill="orange" Title="Revenue" ValueProperty="Profit">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                @{
                    if (QuarterlyInfos != null)
                        foreach (var item in QuarterlyInfos.Where(qi => qi.Profit != 0.0))
                        {
                            <RadzenSeriesAnnotation 
                                Visible="true"
                                TItem="QuarterlyInfoView"
                                Data="@item"
                                OffsetX=12 
                                OffsetY="@(item.Profit > 0.00 ? -16 : 16)" 
                                Text="@(item.Profit == 0.0 ? "" : @String.Format(CultureInfo.CurrentCulture, "{0:0.00}", item.Profit))"
                                Fill="orange" />
                        }
                }

                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
        </RadzenColumnSeries>
        <RadzenLineSeries Data="@QuarterlyInfos" Smooth="true" CategoryProperty="Time" Stroke="#324ab2" Title="Smoothed buying price" LineType="LineType.Solid" ValueProperty="SmoothedBuyingPrice">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
        </RadzenLineSeries>
        <RadzenLineSeries Data="@QuarterlyInfos" Smooth="true" CategoryProperty="Time" Stroke="#00aae4" Title="Smoothed selling price" LineType="LineType.Solid" ValueProperty="SmoothedSellingPrice">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
        </RadzenLineSeries>
        <RadzenLineSeries Data="@QuarterlyInfos" Smooth="true" CategoryProperty="Time" Stroke="red" Title="Charge remaining" ValueProperty="ChargeLeftVisual">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
        </RadzenLineSeries>
        <RadzenLineSeries Data="@QuarterlyInfos" Smooth="true" CategoryProperty="Time" Stroke="gold" Title="Solar power" LineType="LineType.Solid" ValueProperty="SolarPowerVisual">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
        </RadzenLineSeries>
        <RadzenLineSeries Data="@QuarterlyInfos" Smooth="true" CategoryProperty="Time" Stroke="#b06500" Title="Charge needed" LineType="LineType.Solid" ValueProperty="ChargeNeededVisual">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
        </RadzenLineSeries>
        <RadzenLineSeries Data="@QuarterlyInfos" Smooth="true" CategoryProperty="Time" Title="Estimate consumption" LineType="LineType.Solid" ValueProperty="EstimatedConsumptionPerQuarterHourVisual">
            <TooltipTemplate Context="data">
                <ChargingHoursTooltip QuarterlyInfo=@data />
            </TooltipTemplate>
            <ChildContent>
                <RadzenMarkers Visible="false" />
                <RadzenSeriesDataLabels Visible="false" />
            </ChildContent>
        </RadzenLineSeries>
        <RadzenCategoryAxis Padding="40" Formatter="@Formatters.FormatAsDayHour" TickDistance="152">
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Time" />
        </RadzenCategoryAxis>
        <RadzenValueAxis Formatter="@Formatters.FormatAsPrice">
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Price" />
        </RadzenValueAxis>
        <RadzenBarOptions Radius="5" />
    </RadzenChart>
</div>